
@{
    ViewData["Title"] = "ResetPasswordDone";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            <div>
                Your Password was Reseted Successfully, Please Login Again.
            </div>
            <div>
                <a asp-action="SignIn" asp-controller="Account">Login</a>
            </div>
        </div>

    </div>
</div>

