@model IdentityRole
@{
    ViewData["Title"] = "Details";
}

<h1>Role Details</h1>


<div class="row mb-3">
    <div class="col-10">
        <div class="form-group">
            <label asp-for="@Model.Name" class="col-form-label"></label>
            <input asp-for="@Model.Name" class="form-control" readonly />
        </div>
  
        <br />
        <a asp-action="Update" class="btn btn-success" asp-route-id="@Model.Id">Edit</a>
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</div>
