
@{
    ViewData["Title"] = "CompleteForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
    <div class="agileits-top">
        <div class="body">
            <div>
                <h2>Password Reset Link Has Been Sent To Your Email. Please Cheack Your Inbox.</h2>
                <h1>Note!!!</h1>
                <h3>Check Spam Inbox If the link is not in youre Inbox </h3>
            </div>
            <div>
                <a href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox">Your Inbox</a>
            </div>
        </div>

    </div>
</div>

